flask
flask-cors
openai
tiktoken
requests
python-dotenv
beautifulsoup4
gunicorn==21.2.0
firebase-admin
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
openai
tiktoken
requests
beautifulsoup4
python-dotenv
